<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
  </head>

  <body>
    <h1>{{ question.question_text }}</h1>

    <!--    S'il ne trouve pas de choix possibles, on renvoie le message d'erreur    -->
    {% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        <!-- Tous les formulaires POST destinés à des URL internes doivent utiliser la balise de gabarit {% csrf_token %}. -->
        {% csrf_token %}
        <!--
        Pour chaque choix trouvé en BDD, on affiche le choix sous forme de bouton radio
        On change dynamiquement l'id de chaque bouton en ajoutant un nombre correspondant au tour de boucle for
        (forloop.counter indique combien de fois la balise for a exécuté sa boucle)
        L’attribut value de chaque bouton radio correspond à l’ID du vote choisi
        -->
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>

<!--    <ul>-->
<!--    {% for choice in question.choice_set.all %}-->
<!--        <li>{{ choice.choice_text }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
  </body>

</html>