<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<br>
<div align="center" width="100%">
<div class="card col" style="width: 18rem;" align="center">
    <br>
<form action="/saverdv/" method="post">
    {{ user }}
    {% csrf_token %}
    <div class="form-group">
    {{ form }}
    </div>
    <div class="form-group">
        <input type="submit" value="Prendre rendez-vous" class="btn btn-primary mb-2"/>
    </div>
</form>
</div>
</div>
</body>
</html>