{% extends 'cal/base.html' %}
{% block content %}
    <a class="btn btn-primary" href="http://127.0.0.1:8000/calendar/" role="button">Calendar</a>
    <div class="container" >
        <form style="margin-left: 200px;margin-right: 200px" action="http://127.0.0.1:8000/calendar/detail/{{ event_detail.id }}/update" method="POST">
        {% csrf_token %}
            <input required class="form-control form-control-lg" type="text" value="{{ event_detail.title }}">
            <input class="form-control" type="textarea" value="{{ event_detail.description }}">
            <div class="form-check">
                {% if event_detail.allday %}
                    <input class="form-check-input" type="checkbox" value="true" checked id="alldDayCheck">
                {% else %}
                    <input class="form-check-input" type="checkbox" value="false" checked="false" id="alldDayCheck">
                {% endif %}
                <label class="form-check-label" for="alldDayCheck">
                    all day event
                </label>
            </div>
            <div>
                <label for="start">Start at:</label>
                <input class="form-control" type="text" placeholder="{{ event_detail.start_day }}"  onfocus="(this.type='date')" id="start">
                <input class="form-control" type="text" placeholder="{{ event_detail.start_time }}" onfocus="(this.type='time')">
            </div>
            <div>
                <label for="end">Finish at:</label>
                <input class="form-control" type="text" value="{{ event_detail.end_day }}" onfocus="(this.type='date')" required>
                <input class="form-control" type="text" value="{{ event_detail.end_time }}" onfocus="(this.type='time')" required>
{#                <button class="btn btn-primary" href="#" role="button" value="Submit">Update</button>#}
                <a class="btn btn-danger" href="http://127.0.0.1:8000/calendar/detail/{{ event_detail.id }}/delete" role="button" methods="POST">Delete</a>
            </div>
        </form>

    </div>
{% endblock %}