{% extends 'cal/base.html' %}
{% block content %}
    <a class="btn btn-primary" href="/calendar/" role="button">Back</a>
    <div class="container">
        <form method="POST" class = "post-form">
            {% csrf_token %}
            {{ form.as_p }}
            {% if creation %}
                <button class="btn btn-primary" role="button" type="Submit" name="create">Create</button>
            {% else %}
                <button class="btn btn-primary" role="button" type="Submit" value="update" name="update">Update</button>
                <button class="btn btn-danger" role="button" type="Submit" value="delete" name="delete" href="/calendar/">Delete</button>
            {% endif %}
        </form>
    </div>

{% endblock %}