{% extends 'cal/base.html' %}
{% block content %}
    <script>
        let event =  {{ format_events }};
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                businessHours: true,
                nowIndicator: true,
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'timeGridDay,timeGridWeek,dayGridMonth'
                },
                themeSystem: 'bootstrap',
                events: event,

            });

            calendar.render();
        });
    </script>

    <div id='calendar'></div>
    <div class="container" style="margin-top: -25px">
        <a class="btn btn-primary" href="/calendar/event" role="button">create</a>
    </div>
{% endblock %}
